/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  color: $grey8;
  font-family: $fonts-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts-headers;
  font-weight: 800;
}
